.docker/data/*
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/

.phpunit
/phpunit.xml

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Build data
/build/

# Composer PHAR
/composer.phar

# Embedded web-server pid file
/.web-server-pid
