{% extends 'backend/base.backend.html.twig' %}

{% block title %}Backend Index{% endblock %}

{% block body %}
        <div class="container-fluid">
            <h2>Welcome to the backend</h2>
        </div>

{% endblock %}