{% extends 'base.html.twig' %}

{% block title %}Symfony 4 Docker{% endblock %}

{% block body %}
<div id="homepage-image-container">
    Welcome to the Symfony 4 docker container.
</div>
{% endblock %}